/* CSS/CadastrarEquipamentoForm.css */

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px; /* Adiciona espaço interno */
}

.form-title {
  text-align: center;
  margin-bottom: 20px; /* Adiciona espaço entre o título e os campos */
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Estilo para o botão de cadastro */
.form-fields-container button {
  margin-top: 16px;
  align-self: center;
}

/* Estilo para o alerta */
.alert {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 999;
}

/* Estilo para os textfields */
.form-fields-container .MuiFormControl-root {
  width: 700px; /* Largura estendida para ocupar a largura do contêiner */
}

