/* stylesTable.css */

.table-header-cell {
  background-color: #1290cb; /* Altera a cor de fundo do cabeçalho da tabela */
  color: #ffffff !important; /* Altera a cor do texto no cabeçalho da tabela */
  }
  .company-header {
    background-color: #0e709d; /* Cor de fundo para o cabeçalho com os dados da empresa */
    color: #ffffff !important; /* Cor do texto no cabeçalho da tabela */

    padding: 10px; /* Espaçamento interno */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 16px; /* Tamanho do texto */
  }

  .table-container {
    width: 80%;
    margin-left: 380px;
  }
  @media (min-width: 412px) and (max-width: 914px) {
    .table-container {
      width: 80%;
      margin-left: 4px;
      margin-right: 200px; /* Adicione uma margem direita apenas em telas maiores */

  }
}
  
