/* laudotecnico.css */

.title {
  text-align: center;
  margin-top: 20px; /* Espaço entre o título e o formulário */
  font-size: 24px; /* Tamanho da fonte ajustado */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; /* Largura do formulário */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px; /* Espaço entre os campos */
}

.inputField {
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  width: 80%;
}
/* Ajuste para o texto dentro dos selects ficar à esquerda */
.MuiInputBase-root {
  text-align: left;
}
