.sub-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(88, 88, 194); /* Altere a cor conforme necessário */
  background-color: #f2f7ff; /* Adicione a cor de fundo desejada */
  padding: 10px 20px; /* Adicione preenchimento interno */
}

/* stylesDrawer.css */

.formBox {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.centeredContent {
  text-align: center; /* Centraliza o texto horizontalmente */
}


.WelcomeText-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 20px; /* Espaço em branco à direita */
  max-width: calc(100% - 2 * 20px); /* Largura máxima responsiva */
  margin-left: auto;
  margin-right: auto;
}


  .category-container {
    border: 2px solid #1290cb; /* Adicione a cor da borda desejada */
    border-radius: 10px; /* Adicione o raio da borda desejado */
    margin: 10px; /* Adicione margem ao redor do container, se desejar */
    padding: 10px; /* Adicione preenchimento interno ao container, se desejar */
  }

  .drawerHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px; /* Ajuste o padding conforme desejado */
    min-height: 48px; /* Defina a altura mínima conforme desejado */
    background-color: #1290cb; /* Defina a cor de fundo desejada */
  }
  
  .custom-drawer .MuiDrawer-paper {
    width: drawerWidth;
    box-sizing: border-box;
    border-right: 2px solid #1290cb; /* Altere a cor da borda aqui */
  }

  @media (min-width: 412px) and (max-width: 914px) {
    .WelcomeText-container {
      padding-left: 80px; /* Espaço em branco à esquerda para tela 412x914 */
    }
  }
  
  @media (min-width: 915px) {
    .WelcomeText-container {
      padding-left: 400px; /* Espaço em branco à esquerda para telas maiores */
    }
}
