/* stylesTextField.css */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o container à esquerda */
  justify-content: center;
  height: 10vh;
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.formTitle {
  margin-bottom: 20px; /* Adiciona um espaço entre o título e os campos do formulário */
}

.form {
  width: 400px;
  text-align: center;
}

.textField {
  width: 100%;
  margin-bottom: 10px;
}

.move-left {
  margin-left: 750px; /* Ajuste o valor negativo conforme necessário */
}

@media (min-width: 412px) and (max-width: 914px) {
  .move-left {
    margin-left: 60px; /* Espaço em branco à esquerda para tela 412x914 */
  }
  
  .form {
    width: 240px;
    text-align: center;
  }

  .formContainer {
    margin-top: -50%;
  }
}

@media (min-width: 915px) {
  .textFieldContainer {
    padding-left: 400px; /* Espaço em branco à esquerda para telas maiores */
  }
}
