/* CustomDrawer.css */

.container-cadastrar-empresa {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    border-right: 1px solid #1393cc !important;
}